html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 280.4px; /* Margin bottom by footer height */
}

@media (max-width: 767px){
    body{
        margin-bottom: 555.6px;
    }

    #visualizzaEsami{
        padding-bottom: 25px;
    }

    #visualizzaVisite{
        padding-bottom: 25px;
    }

    #visualizzaPazienti{
        padding-bottom: 25px;
    }

    #buongiorno{
        text-align: left;
    }

    #reportSpese{
        padding-bottom: 25px;
        padding-top: 10px;
    }
}

@media (max-width: 379px){
    #bottoneVisita{
        margin-bottom: 10px;
    }
}


/*carosello*/

.carousel-item{
    min-height: 600px;
    background-size: cover;
    background-position: center center;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

/*testo e allineamento*/
.contenitore{
    padding: 35px 10%;
    text-align: justify;
    text-justify: inter-word;
  
}

/*blockqupte*/
.blockquote{
    font-size: 17px;
}

/*presentazione*/
.presentazione{
    padding-bottom: 10px;
}

/*colonne medici*/
.colonne_medici{
    padding-top: 0px;
}

#colonna_medico{
    text-align: center;
}

/* Footer */
.footer {
    padding: 2.5rem 0;
    color: #FFFFFF;
    text-align: center;
    background-color: #343a40;
    border-top: .05rem solid #e5e5e5;
}

.footer p:last-child {
    margin-bottom: 0;
}

/* Sticky footer styles */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*mappa*/
.mappa{
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}

/*parte responsive della mappa*/
@media (max-width: 990px){
    .HereMaps{
        display: none;
    }
}

/*
* Cookie Alert
*/
 
.cookie_modal{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    border-radius: 0;
    transform: translateY(0);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background: #343a40
}

.hidden{
    transform: translateY(100%);
}

/*
* Colonna dati pazienti in datiPazienti.jsp
*/

.colonna_3{
    text-align: center;
}

/*
* notification
*/

.bell{
  transform-origin: 70% 0em;
  animation-name: ring;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes ring{
    0% { transform: rotate(0deg) }
    5% { transform: rotate(45deg) }
    15% { transform: rotate(-40deg) }
    25% { transform: rotate(20deg) }
    35% { transform: rotate(-15deg) }
    45% { transform: rotate(10deg) }
    55% { transform: rotate(-5deg) }
    60% { transform: rotate(0deg) }
    100% { transform: rotate(0deg) }
}